#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    / %button= link_to "Join Us", new_user_registration_path
    = link_to "Join Us", new_user_registration_path, class: "button"
   
#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p File Cabinet is a File organizing service. Until a rebranding in 2013, it was known as FileSpring, a question-and-answer-based social network launched in 2009 by Udemy, the founder of online form builder FileStack

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    = link_to "Join Us", new_user_registration_path, class: "button"

